@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bookstoreContainer {
  box-sizing: border-box;
  display: flex;
  width: 87.5rem;
  height: 5.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: #fff;
  border-bottom: solid 2px #e8e8e8;
}

.bookstoreTitle {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.books {
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: solid 1px #e8e8e8;
}

.icon {
  width: 25px;
  height: 52px;
}
