@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.card {
  display: flex;
  width: 64rem;
  height: 7.625rem;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.bookCategory {
  width: 3.063rem;
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #888;
}

.bookTitle {
  width: 12.313rem;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  font-family: 'Roboto Slab', serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.bookAuthor {
  width: 6.688rem;
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.bookActions {
  display: flex;
  align-items: center;
  margin: 1.125rem 0;
}

.actionText {
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
  font-family: 'Roboto Slab', serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  border: 0;
  background-color: #fff;
}

.line {
  height: 1.5rem;
  margin: 0 0.938rem 0 0;
  border: solid 1px #e8e8e8;
}

.bigLine {
  height: 4.375rem;
  margin: 1.125rem 3.688rem 0 4.938rem;
  border: solid 1px #e8e8e8;
}

.completed {
  display: flex;
}

.circle {
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  border-color: #e8e8e8 #379cf6 #379cf6 #e8e8e8;
  border-style: solid;
  border-width: 5px;
}

.percentage {
  width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 0 0 0.688rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.completedText {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 0 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #888;
}

.current {
  width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 0;
  opacity: 0.5;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #888;
}

.chapter {
  width: 4.688rem;
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 0;
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.updateButton {
  box-sizing: border-box;
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 0;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border: 0;
  border-radius: 3px;
  color: #fff;
  background-color: #0290ff;
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
}
